# Entornos virtuales
.venv/
venv/
env/
ENV/

# Base de datos
*.sqlite3
db.sqlite3

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Archivos de configuración
.env
.env.local
.env.production

# IDE y editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.temp

# Django
staticfiles/
media/

# OS
.DS_Store
Thumbs.db